APP_NAME=LiveKitMeeting
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

DB_CONNECTION=sqlite
SESSION_DRIVER=file
CACHE_STORE=file
